<h3 class="page-title"> Edit <%= @technician.full_name %> </h3>

<%= render "technician_form" %>

<div class="row col-md-12">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, technician_url(@technician) %>
</div>