<h2> CAS Technicians </h2>

<div id="technicians">
	<% @technician_list.order('last_name ASC').each do |technician| %>
		<%= render "technician", :technician => technician  %>
	<% end %>
</div>

<div class="row">&nbsp;</div>

<%= link_to '<span class="glyphicon glyphicon-plus-sign"></span> Add a new technician'.html_safe, new_technician_url %>	