<h3 class="page-title"> New Technician </h3>

<%= render "technician_form" %>

<div class="row col-md-12">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, technicians_url %>
</div>