<h3 class="page-title"> Edit <%= @user.full_name %> </h3>

<%= render "user_form" %>

<div class="row col-md-12">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, user_url(@user) %>
</div>