<h2> Communication Arts & Sciences Users </h2>

<div class="list-group-item list-group-item-set-height">
	<%= form_tag users_path, :method => 'get', :id => "users_search" do %>
		<%= text_field_tag :search, params[:search], :autocomplete => 'off', :placeholder => 'Search Users...' %>
  <div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_user_path %></div>    	
</div>

<div id="users">
	<% @user_list.order('last_name ASC').each do |user| %>
		<%= render "user", :user => user  %>
	<% end %>
</div>
<% end %>


