<h3 class="page-title"> Edit Purchase </h3>

<%= render "purchase_form" %>

<div class="row col-md-12">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, purchases_url %>
</div>