<h3 class="page-title"> Edit Ticket </h3>

<%= render "ticket_form" %>

<div class="row col-md-offset-1">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, tickets_url %>
</div>