<h2> All Software Titles </h2>

<div class="list-group-item list-group-item-set-height">
	<%= form_tag softwares_path, :method => 'get', :id => "softwares_search" do %>
		<%= text_field_tag :search, params[:search], :autocomplete => 'off', :placeholder => 'Search Software...' %>
  <div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_software_path %></div>    	
</div>

<div id="software">
	<% @software_list.order('title ASC').each do |software| %>
		<%= render "software", :software => software  %>
	<% end %>
</div>
<% end %>