<h3 class="page-title"> New Software Title </h3>

<%= render "software_form" %>

<div class="row col-md-12">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, softwares_url %>
</div>