<h3 class="page-title"> Edit Asset </h3>

<%= render "asset_form" %>

<div class="row col-md-offset-1">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, asset_url(@asset) %>
</div>