<h2> All Assets </h2>

<div class="list-group-item list-group-item-set-height">
	<%= form_tag assets_path, :method => 'get', :id => "assets_search" do %>
		<%= text_field_tag :search, params[:search], :autocomplete => 'off', :placeholder => 'Search Assets...' %>
  <div class="pull-right"><%= link_to '<span class="glyphicon glyphicon-plus-sign add-ticket"></span>'.html_safe, new_asset_path %></div>    	
</div>

<div id="assets">
	<% @asset_list.order('tag_number DESC').each do |asset| %>
		<%= render "asset", :asset => asset  %>
	<% end %>
</div>
<% end %>