<h3 class="page-title"> New Asset </h3>

<%= render "asset_form" %>

<div class="row col-md-offset-1">
	<%= link_to '<span class="glyphicon glyphicon-arrow-left"></span> back'.html_safe, assets_url %>
</div>