/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.ui.autocomplete
 *= require chosen
 */

@import "twitter/bootstrap";

body {padding-top: 100px;}

a {
	color: #222;
}

a:hover {
	color: #333;
}

.navbar-header {padding-top: 8px;}

.navbar-collapse {
	padding-top: 8px;
	font-size: 1.2em;
}

.navbar-right {margin-top: -8px;}

.navbar-brand {
	font-size: 1.7em;
}

footer {margin-top: 150px;}

.page-title {
	margin-top: -10px;
	margin-bottom: 50px;
}

//Change some defalts for buttons
.btn {
  border-radius: 6px;
}

.btn-default {
  color: #f0f0f0;
  background-color: #222;
  border-color: #222;
  -webkit-box-shadow: 0px 2px 0px rgba(20, 20, 20, 1);
  -moz-box-shadow:    0px 2px 0px rgba(20, 20, 20, 1);
  box-shadow:         0px 2px 0px rgba(20, 20, 20, 1);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #f0f0f0;
  background-color: #333;
  border-color: #333;
}

.btn-success {
  -webkit-box-shadow: 0px 2px 0px rgba(60, 158, 60, 1);
  -moz-box-shadow:    0px 2px 0px rgba(60, 158, 60, 1);
  box-shadow:         0px 2px 0px rgba(60, 158, 60, 1);
}


