.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 6px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
       -o-user-select: none;
          user-select: none;
}

.btn-default {
  color: #f0f0f0;
  background-color: #222;
  border-color: #222;
  -webkit-box-shadow: 0px 2px 0px rgba(20, 20, 20, 1);
  -moz-box-shadow:    0px 2px 0px rgba(20, 20, 20, 1);
  box-shadow:         0px 2px 0px rgba(20, 20, 20, 1);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #f0f0f0;
  background-color: #333;
  border-color: #333;
}

.login {
	background-image: url('/images/login_bg.png')
}

.login_form {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}