.nav-tabs a {
	color: #222;
	font-weight: bold;
	font-size: 1.2em;
}

.border {
	-webkit-box-shadow: 0px 0px 0px 2px #999;
	box-shadow: 0px 0px 0px 2px #999;
	margin-left: 7px;
	margin-top: 6px;
}

.additonal-techs {
	text-align: center;
	line-height: 32px;
	height: 32px;
	width: 32px;
	color: #777;
}

.label-placement {
	margin-top: 14px;
	float: right;
	font-weight: lighter;
}

.ticket-id {
	padding-top: 8px;
	font-size: 1.5em;
	font-weight: bold;
}

.smaller {
	font-size: 1.3em;
}

.priority {
	line-height: 45px;
	font-size: 2.5em;
	font-weight: bold;
	color: #f15947;
}

.list-group-item-hover:hover {
	background-color: #f2f2f2;
}

.add-ticket {
	color: #f15947;
	font-size: 2.5em;
	margin-right: 43px;
}

.add-ticket:hover {
	color: #e54e3e;
	font-size: 2.5em;
}

.list-group-item-set-height {
	height: 65px;
}

.field_label {
	padding-top: 7px;
}

#ticket_asset_ids {
	width: 265px;
}

.new-tickets-badge {
	background-color: #f15947;
	margin-top: 3px;
	float: right;
	
}

.label-danger {
	background-color: #f15947;
}

.pagination a {
	color: #fff;
}

.pagination {
	color: #fff;
}

#search {
	border: none;
	background-color: #fff;
	height: 45px;
	font-size: 1.2em;
	color: #333;
	width: 800px;
}

#search:focus{
	outline: 0;
}

.priority-show {
	font-weight: bold;
	color: #f15947;
	font-size: 1.8em;
	padding-right: 35px;
}

.title {
	font-size: 2em;
	font-weight: bold;
	padding-right: 35px;
}

.label-show {
	font-size: 1em;
	font-weight: lighter;
	margin-right: 35px;
}

.border-show {
	-webkit-box-shadow: 0px 0px 0px 2px #999;
	box-shadow: 0px 0px 0px 2px #999;
	margin-right: 7px;
}